.App {
  text-align: center;
}

.cart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: 1px solid gray;
  width: 50%;
  margin: auto;
  height: 170px;
}

.img-wrapper {
  max-width: 100%;
  height: auto;
}

.item span {
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
}

.img-wrapper img {
  width: 100px;
  height: auto;
  background: transparent;
}

.btn-wrapper {
  display: block;
  cursor: pointer;
  width: 120px;
  height: 40px;
  background: transparent;
  background-color: cadetblue;
  border-radius: 10px;
}
.btn-wrapper .btn {
  width: 100%;
  height: inherit;
  cursor: pointer;
  color: black;
  font-size: 15px;
  font-weight: bolder;

}
