.App {
  text-align: center;
}

.cart-wrapper {
  display: flex;
  justify-content: left;
  align-items: left;
  border: 2px solid gray;
  overflow: hidden;
  width: 90%;
  margin: auto;
  max-height: 500px;
}
.itemToBeAdded {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  padding: 10px;
  border-right: 1px solid gray;
}

.addedComponent {
  width: 100%;
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  overflow-y: auto;
}

.img-wrapper {
  max-width: 100%;
  height: auto;
}

.item span {
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
}

.img-wrapper img {
  width: 100px;
  height: auto;
  background: transparent;
}

.btn-wrapper {
  display: block;
  cursor: pointer;
  width: 120px;
  height: 40px;
  background: transparent;
  background-color: cadetblue;
  border-radius: 10px;
}
.btn-wrapper .btn {
  width: 100%;
  height: inherit;
  cursor: pointer;
  color: black;
  font-size: 15px;
  font-weight: bolder;
}
